<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <!--========== BOX ICONS ==========-->
        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'> 
        <!--========== CSS ==========-->
        <link rel="stylesheet" href="/static/css/media_icon.css"> 
        <title>Social Media Icons Tooltip Using HTML And CSS</title>
    </head>
    <body>
      <div class="Connect">Connect With Us On <br></div>
        <div class="social_outer">
            <div class="social__inner">
                <div class="social__content">
                    <a href="https://www.facebook.com/official.kitcoek/" target="_blank">
                        <i class='bx bxl-facebook-circle social__icon'></i>
                    </a>
                    <div class="social__tooltip social__tooltip-left">Facebook</div>
                </div>
                
                <div class="social__content">
                    <a href="https://www.instagram.com/kitcoek.official/" target="_blank">
                        <i class='bx bxl-instagram-alt social__icon'></i>
                    </a>
                    <span class="social__tooltip social__tooltip-top">Instagram</span>
                </div>

                <div class="social__content">
                    <a href="https://twitter.com/officialkitcoek/" target="_blank">
                        <i class='bx bxl-twitter social__icon'></i>
                    </a>
                    <span class="social__tooltip social__tooltip-bottom">Twitter</span>
                </div>

                <div class="social__content">
                    <a href="https://www.youtube.com/@OfficialKITCoEK" target="_blank">
                        <i class='bx bxl-youtube social__icon' ></i>
                    </a>
                    <span class="social__tooltip social__tooltip-top">YouTube</span>
                </div>

                <div class="social__content">
                    <a href="https://www.linkedin.com/company/kitcoek/?originalSubdomain=in" target="_blank">
                        <i class='bx bxl-linkedin social__icon'></i>
                    </a> 
                    <span class="social__tooltip social__tooltip-right">LinkedIn</span>
                </div>
            </div>
        </div>
    </body>
</html>
